Package: xyz.usespectra.ios
Name: Spectra iOS
Architecture: iphoneos-arm
Description: Spectra for the Spotify iOS app, built on spoti.pw (GPL-3.0)
Maintainer: Spectra
Author: Spectra, based on spoti.pw by skopevoj
Section: Tweaks
